body{

	background-image: url(https://i.pinimg.com/originals/00/f1/78/00f1782340c987601b52a08e494ae080.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
    background-size: 100% 100%;
}
	.logopic {
		width: 4%;
	}
h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: bolder;
}
	#Logopic {
		width: 4%;
	}
	.navbar-brand {
		position: absolute;
		margin-left: 55px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: bolder;
	}
	#displaytoaster ,.me-auto
	{
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: bolder;
		color: aliceblue;
	}
	
	.cl{
		width: 80%;
		margin-left: 65px;
		
	}
	.cl1{

		width : 80%
	}
	#btn1 {
	width: 600px;
	margin: 10px;
	margin-left: 330px;
	border-radius: 90px;
	font-size: large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	
	
   
.navbar{
	opacity: 0.8;
   }

.main-title {
	text-align: center;
	background: #006491;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  border-width: 500px;
  box-shadow: inset;
}

.order-id-input-wrapper {
	width: 500px;
	margin: 25px auto;
}

.order-status-card {
	margin: 20px 0;
}

.order-status-card .card {
	border-radius: 20px;
}

.order-status-card .card-header{
	background: #006491;
  color: white;
	border-radius: 20px 20px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-status-card .card-footer{
	background: #e31837;
  color: white;
	border-radius: 0 0 20px 20px;
}

.order-status-card .card-text {
	margin-bottom: 0.5rem;
}

.order-status-card .rounded-pill {
	font-size: 1em;
}

.cancel-btn:hover {
	cursor: pointer;
}

.btn-wrapper {
	text-align: center;
}

#order-input-modal .modal-body {
	padding: 2rem 3rem;
}

.empty-order {
	display: block;
	margin: auto;
}

#preloader {
    background: rgb(247, 243, 243) url(https://media3.giphy.com/media/FzEnTgMcYi9DEJD6QD/giphy.gif?cid=6c09b952kp14v1yn839hx9dhlbcz2oopz9gj5w9h7go44jdu&rid=giphy.gif&ct=s) no-repeat center center ;
    background-size: 15% ;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}
.table {

	
	
	background-image: url(assests/imageedit_2_9006369791\ \(1\).png)

	
}

.text-center {
    text-align: center;
}

h2 {
	display: flex;
	flex-direction: row;
  }
  h2:before, h2:after{
	content: "";
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
  }
  h2:before {
	margin-right: 10px
  }
  h2:after {
	margin-left: 10px
  }
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}


/* //responsive */

@media screen and (max-width: 600px) {
	body{
		background-size: cover;
	}
		#navbar1{
			width: 120%;
		}
		#btn1 {
			width: 60%;
			margin-left: 100px;
		}
		/* .c1 {
			width: 60%;
			height: 50%;
		}
		.cl1{
			width: 70%;
			height: 70%;
			margin-left: 65px;
		} */
	
		#col-md-62{
			width: 50%;
		}
		.text-center{
			width: 120%;
			position: relative;
			
		}
	
	
	}
	